@tailwind base;
@tailwind components;
@tailwind utilities;


/* From Uiverse.io by medytiger */ 
/* From Uiverse.io by elijahgummer */
.card {
  margin: 0 auto;
  max-width: 4000px;
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}
.card .header {
  display: flex;
  align-items: center;
}
.header .img {
  height: 120px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.header .details {
  margin-left: 20px;
}
.details span {
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name {
  height: 12px;
  width: 70px;
}
.details .about {
  height: 13px;
  width: 120px;
  margin-top: 10px;
}
.card .description {
  margin: 25px 0;
}
.description .line {
  background: #d9d9d9;
  border-radius: 10px;
  height: 11px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}
.card .btns {
  display: flex;
  gap: 0.5rem;
}
.card .btns .btn {
  height: 25px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.btns .btn-1 {
  margin-right: 8px;
}
.btns .btn-2 {
  margin-left: 8px;
}
.loading .header .img::before,
.loading .details span::before,
.loading .description .line::before,
.loading .btns .btn::before {
  animation: shimmer 1s linear infinite;
}
.header .img::before,
.details span::before,
.description .line::before,
.btns .btn::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #d9d9d9 0%,
    rgba(0, 0, 0, 0.05) 20%,
    #d9d9d9 40%,
    #d9d9d9 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
}
.header .img::before {
  background-size: 650px 600px;
}
.details span::before {
  animation-delay: 0.2s;
}
.btns .btn-2::before {
  animation-delay: 0.22s;
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
